@import "./pages/contacto";
@import "./pages/index";
@import "./pages/nosotros";
@import "./pages/portafolio";



@import "./utils/mixin";
@import "./utils/variables";

@import "./components/card";
@import "./components/navbar";
@import "./components/buttom";

@import "./base/base";