.h2_index {
    margin: 80px;
    color: orange;

}

.h2_servicios {
    margin: 80px;
    color: orange;

}

.h2_nosotros {
    margin: 80px;
    color: orange;
}

.section_nosotros {
    margin-top: 80px;
    background-color: whitesmoke;

}